nav{
    float: right;
    background-color: rgb(175, 21, 21);
}
span{
    background-color: rgb(72, 255, 0);
    /* display: block; */
    /* width: 50%; */
    /* float: right; */
}

div{
    background-color: rgb(243, 8, 184);
    width: 20%;
    display: inline-block;
    float: left;
    overflow: auto;

}

h1,h2{
    text-align: center;
    background-color: rgb(95, 34, 80);
    color: white;
    clear: both;
}

body{
    background-color: rgb(230, 152, 210);
}

img{
    width: 50px !important;
}